/* Write your CSS here */
.your-balance {
  background-color: #ecfccb;
  border-radius: 10px;
  border: 1px solid #84cc16;
  display: flex;
  align-items: center;
  height: 100px;
  width: 250px;
  padding-left: 20px;
  margin-bottom: 15px;
}
.your-income {
  background-color: #cffafe;
  border-radius: 10px;
  border: 1px solid #06b6d4;
  display: flex;
  align-items: center;
  height: 100px;
  width: 250px;
  padding-left: 20px;
  margin-bottom: 15px;
}
.your-expenses {
  background-color: #ede9fe;
  border-radius: 10px;
  border: 1px solid #7c3aed;
  display: flex;
  align-items: center;
  height: 100px;
  width: 250px;
  padding-left: 20px;
  margin-bottom: 15px;
}
.money-details-img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}
.your-money-status {
  color: #7e858e;
  font-size: 13px;
  font-weight: 500;
}
.rupees {
  color: #7e858e;
  font-size: 15px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .your-balance {
    background-color: #ecfccb;
    border-radius: 10px;
    border: 1px solid #84cc16;
    display: flex;
    align-items: center;
    height: 100px;
    width: 350px;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-right: 20px;
  }
  .your-income {
    background-color: #cffafe;
    border-radius: 10px;
    border: 1px solid #06b6d4;
    display: flex;
    align-items: center;
    height: 100px;
    width: 350px;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-right: 20px;
  }
  .your-expenses {
    background-color: #ede9fe;
    border-radius: 10px;
    border: 1px solid #7c3aed;
    display: flex;
    align-items: center;
    height: 100px;
    width: 350px;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-right: 20px;
  }
  .money-details-img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
  }
  .your-money-status {
    color: #7e858e;
    font-size: 13px;
    font-weight: 500;
  }
  .rupees {
    color: #7e858e;
    font-size: 15px;
    font-weight: 600;
  }
}
